
// .container {
//   width: min(1280px, calc(100% - 40px));
//   margin-inline: auto;
// }

.container {
  width: min(1280px, calc(100% - 40px));
  margin-inline: auto;
}

@media (max-width: 480px) {
  .container {
    width: min(100% - 24px, 1280px);
  }
}